.container {
    display: block;
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    width: 1400px;
    margin: 0 auto;

    background-color: lightcoral;
}

container {
    display: block;
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    width: 1400px;
    margin: 0 auto;

    background-color: blue;
}

header {
    width: 100%;
    height: 400px;
    background-image: url("images/header-banner.png");
}

.header-menu-wrapper {  
    position: relative;
    top: 20px;
    left: 20px;

    height: 50px;
    width: 200px;
}

header img {
    position: relative;
    top: 8px;
    left: 18px;
}

header h4 {   
    position: relative;
    top: -43px;
    left: 70px;
}

header h1 {
    background-color: rgba(31,31,31,0.8);
    height: 40px;
    width: 250px;
    text-align: center;

    position: relative;
    left: 550px;
    top: 50px;

    color: white;
    padding: 40px;
}

/* 



FEATURE SCALING 



*/

#feature {
    height: 660px;
    background-image: url("images/anxiety-feature-2.jpg");
    background-size: cover;
}

#feature-menu-wrapper {
    position: relative;
    top: 20px;
    left: 20px;

    height: 50px;
    width: 200px;
}

#feature-menu-wrapper img {
    position: relative;
    top: 10px;
    left: 10px;
}

#feature-menu-wrapper h4 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    top: -42px;
    left: 60px;
}


#feature h1 {
    background-color: rgba(31,31,31,0.8);

    width: 450px;
    height: auto;    

    position: relative;
    top: 250px;
    display: block;
    margin: 0 auto;

    text-align: center;
    color: #e2e2e2;
    padding: 20px;
}

/* HOME BUTTONS STYLING */

#home-buttons {
    background-color: #555555 ;
    height: 260px;
    margin-top: -30px;
}

.home-blurb {
    font-size: 18px;
    text-align: center;
    color: white;

    position: relative;
    top: 30px;
}

#home-button-wrapper {
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 50px;

    position: relative;
    top: 60px;
}

#home-button-wrapper button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*



    ABOUT PAGE STYLING




*/



/* About header */

#about-header {
    background-color: blue;
}

/* About Column 1 */

#about-column-one {
    background-color: #f5f6fa;

    height: 600px;
    width: 50%;
    float: left;
}

#about-column-one p {
    padding: 15px;
}

#about-column-one h2 {
    text-align: center;
}

#about-column-one img {
    margin-left: 60px;
}

/* About Column 2 */

#about-column-two {
    background-color: #f5f6fa;

    height: 600px;
    width: 50%;
    float: left;
}

#about-column-two h2 {
    text-align: center;
}

.question {
    background-color: #2f3640;
    color: #e2e2e2;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 45px;

    text-align: center;
}

.question img {
    display: inline-block;
    position: relative;
    top: -20px;
    left: -140px;
}

.question h5 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.4em;

    position: relative;
    top: -27px;
}


/* Symptoms Area */

#symptoms-area {
    background-color: darkorange;
}

#symptoms-section-1 {
    height: 400px;
    width: 65%;
    float: left;
    
    text-align: center;
}

#symptoms-section-1 p {
    padding: 30px;
}

#symptoms-section-1 ul {
    display: block;
    width: 15%;
    margin: 0 auto;
    padding: 30px;
    list-style-type: circ 
}

#symptoms-section-2 {
    height: 400px;
    width: 35%;
    float: left;
}

#symptoms-section-2 img { 
    position: relative;
    top: 30px;
    left: 110px;
}

.information {
    font-style: italic;
}

#symptoms-section-3 {
    height: 1200px;
    display: block;
    width: 75%;
    margin: 0 auto;
}




/* 


DEVELOPER STYLING


*/

.developer-biography {
    width: 33.33%;
    display: block;
    float: left;
    text-align: center;
    color: #e2e2e2;
}

.developer-biography img {
    display: inline-block;
    margin-top: 30px;
}

.developer-biography p {
    padding: 10px;
}


/* bio-specific CSS */

#first-bio {
    background-color: #718093;
}

#second-bio {
    background-color: #7f8fa6;
}

#third-bio {
    background-color: #718093;
}

/* 


    LOGIN STYLING


*/

#login_div {
    height: 250px;
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;

    box-shadow: 0 30px 40px rgba(0,0,0,.3);
    
}

#login_form {
    height: 80%;
    width:100%;
    background-color: white;
}

#login_form input {
    position: relative;
    left: 30px;
    top: 35px;

    height: 35px;
    width: 85%;
    border: none;

    text-align: center;

    background-color: #F8F8F8;
    border: 3px solid #F0F0F0;
    border-radius: 15px;
}

#submit_btn {
    position: relative;
    top: 60px;
    left: 12%;

    background-color: #247BA0;
    border: 3px solid white;
    border-radius: 15px;

    color: white;
    font-size: 18px;

    padding: 10px 20px;
}

#loginError {
    text-align: center;
    padding-top: 20px;
    color: red;
    margin-bottom: 0;
}

#container_login {
    background: white;
}

#login_header {
    width: 100%;
    height: 200px;
    background-image: url("images/header-banner.png");
    background-position: center;
}